@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #282c35;
  color: white;
}

.container {
  width: 100%;
  @apply min-[475px]:max-w-[475px] sm:max-w-[640px] md:max-w-[768px];
  @apply ml-auto mr-auto px-4 box-border;
}
